@import "tailwindcss";
@layer theme, base, components, utilities;

/**
 * THEME CONFIGURATION
 * custom variable overrides for the Tailwind design system.
 */
@theme {
  /*Color Palette */
  --color-primary: #8ad07d;
  --color-secondary: #032c0a;
  --color-accent: rgb(127, 3, 3);

  /* Typography Design Tokens */
  --font-mono: "Space Bold", ui-monospace, system-ui;
  --font-heading: "Montserrat Bold", sans-serif;
}


@layer base {
  /* Set default font, background, and text color for the whole app */
  body {
    @apply font-mono bg-white text-slate-900;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold text-teal-950;
  }

/* Base button shape and transition logic for all buttons */
  button {
    @apply px-4 py-2 rounded-lg transition-colors;
  }

}

/* Fade In and Slide Up keyframes */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Utility class to trigger the fade-in animation.
  Used on RecipeCards and Favorites list items.
*/
.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}